body{
  background:linear-gradient(black,blue,white);
}
.cards_section1{
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
  width:26%;
  height:500px;
  border:5px solid #FFAA00;
  border-radius:25px;
  box-shadow: 0 0 20px #FFAA00;
  float:left;
  transition:1s;
  transition-duration:1s;
}
h1{
  color:LightGreen;
  text-align:center;
}
p{
  color:LightGreen;
  text-align:center;
}
img{
  height:450px;
  border-radius:25px;
  width:90%;
  margin-left:18px;
  margin-right:18px;
  margin-bottom:50px;
}
.cards_section1:hover{
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
  width:30%;
  height:500px;
  border:5px solid #C1C0FF;
  border-radius:25px;
  box-shadow: 0 0 20px #C1C0FF;
  float:left;
  transform:rotate(20deg);
}
.cards_section2{
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
  width:26%;
  height:500px;
  border:5px solid #FFAA00;
  border-radius:25px;
  box-shadow: 0 0 20px #FFAA00;
  float:left;
  transition:1s;
  transition-duration:1s;
}
.cards_section2:hover{
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
  width:30%;
  height:500px;
  border:5px solid #83374A;
  border-radius:25px;
  box-shadow: 0 0 20px #83374A;
  float:left;
  transform:rotate(20deg);
}
.cards_section3{
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
  width:26%;
  height:500px;
  border:5px solid #FFAA00;
  border-radius:25px;
  box-shadow: 0 0 20px #FFAA00;
  float:left;
  transition:1s;
  transition-duration:1s;
}
.cards_section3:hover{
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
  width:30%;
  height:500px;
  border:5px solid #83374A;
  border-radius:25px;
  box-shadow: 0 0 20px #83374A;
  float:left;
  transform:rotate(20deg);
}
.cards_section4{
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
  width:26%;
  height:500px;
  border:5px solid #FFAA00;
  border-radius:25px;
  box-shadow: 0 0 20px #FFAA00;
  float:left;
  transition:1s;
  transition-duration:1s;
}
.cards_section4:hover{
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
  width:30%;
  height:500px;
  border:5px solid #83374A;
  border-radius:25px;
  box-shadow: 0 0 20px #83374A;
  float:left;
  transform:rotate(20deg);
}